@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root{
    --primary-color: #0B0B0B;
    --secondary-color: #0442BF;
    --color-blue: #3377FF;
    --color-white: #E5EEFF;
    --color-black: #000000;

    --color-twitter: #00ACEE;
    --color-linkedin: #0e76a8;
    --color-instagram: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
    --font: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--font);
}


html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

/*ALL-----------------------------------------------------*/
.max-width{
    max-width: 1200px;
    padding: 0 10%;
    margin: 0 auto;
}

.title{
    font-size: 1.6em;
    color: var(--secondary-color);
}
/*NAVBAR--------------------------------------------------*/
header{
    background-color: var(--secondary-color);
    padding: 15px 0;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo-icon{
    width: 150px;
    height: 50px;
}

.logo-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar .menu li{
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: var(--color-white);
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 25px;
}

.navbar .menu li a:hover{
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.menu-btn{
    color: var(--color-white);
    font-size: 1.6em;
    cursor: pointer;
    display: none;
}

/*MAIN------------------------------------------------------*/
.presentation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 95px 0;
}
.presentation .profile{
    width: 90%;
    margin: 20px auto;
    display: flex;
}

.presentation .profile-img{
    width: 80%;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
}

.personal-information{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-title);
    color: var(--color-white);
}

.information-name{
    font-size: 2em;
    font-weight: 700;
    color: var(--primary-color);
}

.information-job{
    font-size: 1.6em;
    font-weight: 600;
    color: var(--color-blue);
}

.personal-information a{
    margin: 0 5px;
    color: var(--color-black);
}

.fa-twitter:hover{
    color: var(--color-twitter);
}

.fa-linkedin:hover{
    color: var(--color-linkedin);
}

.fa-github:hover{
    color: var(--color-white);
}

.fa-instagram:hover{
    background-image: var(--color-instagram) !important;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.personal-information .fab{
    margin-top: 15px;
    font-size: 2.6rem;
}

.target{
    margin: 0px 0px 50px;
}

.target-description{
    font-size: 1.2em;
    line-height: 1.8em;
    text-align: justify;
    font-weight: 500;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 18px 0 50px;
}

.projects a{
    text-decoration: none;
    margin: 20px auto;
}

.projects .card{
    width: 300px;
    /* max-height: 350px; */
    border-radius: 8px;
    margin: 0 auto;
}

.projects .card:hover{
    box-shadow: 0 1px 20px 0 var(--secondary-color); 
    transition: all 0.3s ease;
    cursor: pointer;
}

.card-img{
    width: 150px;
    aspect-ratio: 1;
}

.card-img img{
    width: 100%;
    /* height: 150px; */
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 8px;
}

.card .details{
    height: 150px;
    padding: 16px 10px 15px 16px;
    text-overflow: ellipsis;
}

.details .project-title{
    font-size: 1.2em;
    font-weight: 700;
    color: var(--secondary-color);
}

.details .project-description{
    margin-bottom: 12px;
    font-size: 1em;
    color: var(--color-black);
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: var(--secondary-color);
    font-size: 1.2em;
    color:var(--color-white);
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--secondary-color);
    right: 30px;
    bottom: 50px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition:  all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 80px;
    opacity: 1;
    pointer-events: auto;
}

/*Responsive------------------------------------------------*/
@media (max-width: 768px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--primary-color);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 1.6em;
    }
}

@media (max-width: 430px){
    .presentation{
        grid-template-columns: 1fr;
        margin: 40px 0;
    }

    .presentation .profile{
        display: flex;
        justify-content: center;
    }

    .presentation .info{
        margin-top: 25px;
    }

    .projects a{
        margin: 20px 0;
    }

}