@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{
    --primary-color: #1b1717;
    --secondary-color: #810000;
    --color-white: #fff;

    --font-title: 2.4em;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-color: var(--primary-color);
}

/*ALL-----------------------------------------------------*/
.max-width{
    max-width: 1300px;
    padding: 0 10%;
    margin: 0 auto;
}

.title{
    font-size: var(--font-title);
}
/*NAVBAR--------------------------------------------------*/
header{
    background-color: var(--secondary-color);
    padding: 15px 0;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    font-size: var(--font-title);
}

.navbar .menu li{
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: var(--blue-color);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

.navbar .menu li a:hover{
    color: white;
    transition: all 0.3s ease;
}

.menu-btn{
    color: var(--color-white);
    font-size: var(--font-title);
    cursor: pointer;
    display: none;
}

/*MAIN------------------------------------------------------*/
.presentacion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 95px 0;
}
.presentacion .perfil{
    width: 90%;
    margin: 0 auto;
}
.presentacion .perfil img{
    width: 80%;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid var(--secondary-color);
}

.presentacion .info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-title);
    color: var(--color-white);
}

.presentacion .info a{
    margin: 0 5px;
    color: var(--secondary-color);
}

.presentacion .info a:hover{
    color: var(--color-white);
}

.presentacion .info .fab{
    margin-top: 15px;
    font-size: 2.6rem;
}

.acerca{
    margin: 0px 0px 50px;
}

.acerca p{
    font-size: 1.6rem;
    text-align: justify;
}

.proyectos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 18px;
    margin: 25px 0 50px;
}

.proyectos a{
    text-decoration: none;
}

.proyectos .card{
    width: 250px;
    max-height: 280px;
    border-radius: 15px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border:2px solid var(--secondary-color);
}

.proyectos .card:hover{
    box-shadow: 0 1px 20px 0 var(--secondary-color); 
    transition: all 0.3s ease;
    cursor: pointer;
}

.card .card-img{
    width: 150px;
}

.card .card-img img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card .details{
    height: 90px;
    margin: 5px 10px 15px 15px;
    color: var(--color-white);
}

.details h4{
    font-size: 1.8em;
}

.details p{
    font-size: 1.2em;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: var(--secondary-color);
    font-size: 1.4em;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--secondary-color);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition:  all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/*Responsive------------------------------------------------*/
@media (max-width: 768px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--primary-color);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: var(--font-title);
    }
}

@media (max-width: 430px){
    .presentacion{
        grid-template-columns: 1fr;
    }

    .presentacion .perfil{
        display: flex;
        justify-content: center;
    }

    .presentacion .info{
        margin-top: 25px;
    }

    .proyectos .card{
        width: 260px;
    }
}